* {
    padding: 0;
    margin: 0;
}

html, body {
    /* overflow-x: hidden; */
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

.container {
    margin-bottom: 100px;
}

nav {
    margin-bottom: 40px;
}

nav a {
    font-size: 1.2rem;
}

.home--col>p {
    background: #eee;
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 2px 5px 8px #aaa; */
}

.col h2 {
    text-align: center;
}

html.sr .jslider-hide {
    visibility: hidden;
}

.footer {
    min-height: 100px;
    line-height: 100px;
    padding: 30px;
    width: 100%;
    background: gray;
    color: white;
}